/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900&subset=latin-ext');
@import "/app/styles/palette";
@import "/app/styles/theme";

$image_path: '/assets/images';

html, body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0;
    background-color: $app-background-color;
    font-family: Roboto;
}

.mat-dialog-container {
  background-color: $card-background-color;
}

.user-menu /deep/ {
  .mat-menu-content {
    width: 190px;
    mat-list {
      mat-list-item {
        color: map_get($mat-blue-grey, 800);
        user-select: none;
        height: 60px !important;
        .indicator{
          font-size: 12px;
          text-transform: uppercase;
          opacity: 0.8;
          &.custom-line-height {
            line-height: 24px;
            font-weight: bold;
          }
        }
        .main-info {
          font-size: 16px;
          font-weight: bold;
        }
        mat-icon {
          &.success {
            color: $app-success;
          }
          &.warn {
            color: $app-warn;
          }
        }
      }
    }
    button {
      color: map_get($mat-blue-grey, 800);
      opacity: 0.8;
      font-weight: bold;
    }
  }
}

.invitations-menu /deep/ {
  .mat-menu-content {
    width: 100%;
    min-height: 100px;
    max-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    mat-list {
      mat-list-item {
        &:hover {
          @include transparentBackgroundColor(0.25, map_get($mat-blue-grey, 400))
        }
        color: map_get($mat-blue-grey, 800);
        user-select: none;
        height: 60px !important;
        .indicator{
          font-size: 12px;
          text-transform: uppercase;
          opacity: 0.8;
          &.custom-line-height {
            line-height: 24px;
            font-weight: bold;
          }
        }
        .main-info {
          font-size: 16px;
          font-weight: bold;
        }
        mat-icon {
          cursor: pointer;
          &.success {
            color: $app-success;
          }
          &.warn {
            color: $app-warn;
          }
        }
      }
    }
    .no-invitations {
      width: 280px;
      text-align: center;
      color: map_get($mat-blue-grey, 800);
      font-size: 12px;
      opacity: 0.7;
      font-style: italic;
    }
  }
}
