@import "../../styles/palette";

.event-view-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  h3 {
    width: 100%;
    text-align: center;
    margin-top: 0;
    color: map_get($mat-blue-grey, 800);
  }

  .content-container{
    flex: 1 1 auto;
    overflow: auto;
    max-height: 420px;
    mat-list {
      mat-list-item {
        mat-icon {
          color: map_get($mat-blue-grey, 800);
        }
        h3 {
          font-weight: bold;
          color: map_get($mat-blue-grey, 800);
        }
        p {
          color: map_get($mat-blue-grey, 400);
          margin-left: 15px;
          &.attendants {
            text-transform: capitalize;
          }
        }
      }
    }
  }

  .button-container {
    display: flex;
    justify-content: center;
    button {
      margin-right: 20px;
      background-color: $app-main-color;
      color: white;
      &:last-of-type {
        margin-right: 5px;
      }
      .mat-spinner {
        /deep/ circle {
          stroke: $app-main-color;
        }
      }
    }
  }
}
