<mat-toolbar>
  <img src="../../../assets/images/logo-small.png"/>
  <span class="header-spacer"></span>
  <a mat-button class="add-user" routerLink="../add-user" *ngIf="(leader$ | async)">Add User</a>
  <mat-icon [matMenuTriggerFor]="notificationsMenu" (click)="notificationsFirstView = false" [ngClass]="{'active': (notificationsFirstView && (invitationsOrder$ | async).length > 0)}">
    {{(notificationsFirstView && (invitationsOrder$ | async).length > 0) ? 'notifications_active' : 'notifications'}}
  </mat-icon>
  <mat-menu #notificationsMenu="matMenu" [overlapTrigger]="false" class="invitations-menu">
    <mat-list *ngIf="(invitationsOrder$ | async).length">
      <mat-list-item *ngFor="let inv of (invitationsOrder$ | async)">
        <div mat-line class="indicator">{{formatDate(invitationsById[inv].event.start_date)}}: {{invitationsById[inv].event.description}}</div>
        <div mat-line class="main-info">{{invitationsById[inv].event.start_time}} - {{invitationsById[inv].event.finish_time}}</div>
        <mat-icon class="success" (click)="acceptInvitation(inv)">done</mat-icon>
        <mat-icon class="warn" (click)="rejectInvitation(inv)">clear</mat-icon>
      </mat-list-item>
    </mat-list>
    <div *ngIf="!(invitationsOrder$ | async).length" class="no-invitations">There are no new requests in pending.</div>
  </mat-menu>
  <span class="user-accessor" [matMenuTriggerFor]="userMenu">{{(userDataLoading$ | async) ? 'Z' : (userProfile$ | async)?.name[0]}}</span>
  <mat-menu #userMenu="matMenu" [overlapTrigger]="false" class="user-menu">
    <mat-list>
      <mat-list-item>
        <div mat-line class="indicator">Name: </div>
        <div mat-line class="main-info">{{(userProfile$ | async)?.name}}</div>
      </mat-list-item>
      <mat-list-item>
        <div mat-line class="indicator">Email: </div>
        <div mat-line class="main-info">{{(userProfile$ | async)?.email}}</div>
      </mat-list-item>
      <mat-list-item>
        <div mat-line class="indicator">Birthday: </div>
        <div mat-line class="main-info">{{(userProfile$ | async)?.born}}</div>
      </mat-list-item>
      <mat-list-item>
        <div mat-line class="indicator">Team name: </div>
        <div mat-line class="main-info">{{(userProfile$ | async)?.team.name}}</div>
      </mat-list-item>
      <mat-list-item>
        <div mat-line class="indicator custom-line-height">Verified account:</div>
        <mat-icon  class="success" *ngIf="(userProfile$ | async)?.permanentAccount">done</mat-icon>
        <mat-icon  class="warn" *ngIf="!(userProfile$ | async)?.permanentAccount">clear</mat-icon>
      </mat-list-item>
    </mat-list>
    <button mat-menu-item (click)="logOutUser()">LogOut</button>
  </mat-menu>
</mat-toolbar>
<div class="body-container">
  <div class="progress-loader" *ngIf="(userDataLoading$ | async) || (eventsLoading$ | async) ||
                                      (colleaguesLoading$ | async) || (invitationsLoading$ | async)">
    <mat-spinner></mat-spinner>
  </div >
  <mat-card *ngIf="!(userDataLoading$ | async) && !(eventsLoading$ | async) && !(colleaguesLoading$ | async) && !(invitationsLoading$ | async)">
    <div class="view-selector">
      <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="calView">
        <mat-button-toggle [value]="CALENDAR_VIEW.MONTH">MonthView</mat-button-toggle>
        <mat-button-toggle [value]="CALENDAR_VIEW.WEEK">WeekView</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="view-container">
      <app-month-view *ngIf="calView === CALENDAR_VIEW.MONTH" [events]="(events$ | async)"></app-month-view>
      <app-week-view *ngIf="calView === CALENDAR_VIEW.WEEK" [events]="(events$ | async)"></app-week-view>
    </div>
  </mat-card>
</div>
