@import "../../styles/palette";
@import "../../styles/global-values";

mat-toolbar {
  background-color: $app-main-color;
  height: $header-height;
  img {
      height: calc(#{$header-height} - 8);
  }
  .header-spacer {
      flex: 1 1 auto;
  }
  .add-user {
    color: white;
    height: 100%;
    line-height: $header-height;
    margin-right: 10px;
  }
  .user-accessor {
    @include transparentBackgroundColor(0.85, white);
    color: $app-main-color;
    height: calc(#{$header-height} - 30px);
    width: calc(#{$header-height} - 30px);
    line-height: calc(#{$header-height} - 30px);
    font-size: 24px;
    font-weight: 600;
    border-radius: 3px;
    text-align: center;
    margin: auto 10px auto 0;
    text-transform: capitalize;
    cursor: pointer;
    user-select: none;
  }
  mat-icon {
    color: white;
    cursor: pointer;
    user-select: none;
    margin-right: 20px;
    &.active{
      color: $app-secondary-color;
    }
  }
}
.body-container {
  height: calc(100% - #{$header-height});
  width: 100%;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
  .progress-loader{
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    .mat-spinner {
      /deep/ circle {
          stroke: $app-main-color;
      }
    }
  }

  mat-card {
    width: 90%;
    height: auto;
    background-color: $card-background-color;
    .view-selector {
      height: $view-selector-container-height;
      display: flex;
      flex-direction: row-reverse;
      mat-button-toggle-group {
        box-shadow: none;
        border: 1px solid map_get($mat-blue-grey,400);
        border-radius: 4px;
        mat-button-toggle {
          flex:1;
          text-align: center;
          color: map_get($mat-grey,800);
          .mat-button-toggle-label-content {
            min-width: calc(100% - 32px);
          }

          &.mat-button-toggle {
            border-left: 1px solid map_get($mat-blue-grey,400);
          }

          &.mat-button-toggle:first-child {
            border-left: none;
          }

          &.mat-button-toggle-checked {
            background-color: $app-main-color;
            color: white;
          }
        }
      }
    }
    .view-container {
      width: 100%;
      height: calc(100% - #{$view-selector-container-height} - #{$spacer-value});
      margin-top: $spacer-value;
    }
  }
}
