<div class="login-container">
  <img src="../../assets/images/logo.png"/>
  <form #loginForm="ngForm" (ngSubmit)="doLogin(loginForm.value, loginForm.valid)">
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title><h2>Log in to your account</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="full-width">
          <input #email matInput ngControl ngModel name='email' placeholder="Email" type="text" required pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
          <mat-icon matSuffix>account_circle</mat-icon>
          <mat-error *ngIf="!loginForm.controls.email?.valid">Email is required or invalid</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input #password matInput ngControl ngModel name='password' placeholder="Password" type="password" required>
          <mat-icon matSuffix>lock</mat-icon>
          <mat-error *ngIf="!loginForm.controls.password?.valid">Password is required</mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button [disableRipple]="true">Log In</button>
        <mat-spinner [diameter] = "36" [strokeWidth]="4" *ngIf="(loginLoading$ | async)"></mat-spinner>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
