<div class="error-container">
  <div class="error-card">
    <img src="../../../assets/images/logo.png">
    <div class="error-content">
      <div class="code">Error: 404</div>
      <div class="message">Looks like the page doesn't exist on our servers</div>
    </div>
  </div>
</div>
