@import "../../styles/palette";
.error-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  .error-card {
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 250px;
      height: auto;
      margin-bottom: 10px;
    }
    .error-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      .code {
        color: $app-secondary-color;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;
      }
      .message {
        color: map_get($mat-blue-grey, 600);
        font-size: 16px;
        font-style: italic;
        opacity: 0.8;
      }
    }
  }
}
