@import "../../styles/palette";

.event-view-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  h3 {
    width: 100%;
    text-align: center;
    margin-top: 0;
    color: map_get($mat-blue-grey, 800);
  }

  .content-container{
    flex: 1 1 auto;
    max-height: 420px;
    overflow: auto;
    mat-expansion-panel {
      mat-list {
        mat-list-item {
          mat-icon {
            color: map_get($mat-blue-grey, 800);
          }
          h3 {
            font-weight: bold;
            color: map_get($mat-blue-grey, 800);
          }
          p {
            color: map_get($mat-blue-grey, 400);
            &.attendants {
              margin-left: 15px;
              text-transform: capitalize;
            }
          }
        }
      }
      mat-action-row {
        button {
          color: white;
          background-color: $app-main-color;
          margin-right: 20px;
        }
      }
    }
  }

  .button-container {
    display: flex;
    justify-content: center;
    button {
      margin-right: 20px;
      background-color: $app-main-color;
      color: white;
    }
  }
}
